@import "tailwindcss";

@theme {
  --color-bg-light: #f5f5f5;
  --color-bg-alpha: #eeeeee59;
  --color-primary: #010101;
  --color-active: #5e6a72;
  --color-white: #fff;
  --color-yellow: #ffd700;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  height: 100vh;
}
